extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Cassia Nebel

        p Front End Developer


        .about-bio

          p Hi! I'm a front end developer with a passion for creating intuitive, responsive and accessible user experiences. I've been writing HTML and CSS for over 10 years and have recently added JavaScript to my skill set. I am currently in the middle of my Full Stack JavaScript TechDegree from teamtreehouse.com. I'm excited to continue learning and growing as a developer.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS/SCSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li Responsive Design
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Vue 
          li React
          li Bootstrap 
          li Tailwind 
          li Velocity

        h6 Contact Info

        ul
          li 403.350.4325
          li cassia.nebel@gmail.com


        a.btn-link(href='https://www.linkedin.com/in/cassianebel/', target="_blank") LinkedIn
        a.btn-link(href='https://github.com/cassianebel', target="_blank") GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back