extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Cassia Nebel

        p Front End Developer


        .about-bio

          p Experienced Front-End Developer with a demonstrated history of creating websites and applications across a variety of industries and environments.


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li Responsive Design
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug
          li Vue 
          li React
          li Bootstrap 
          li Tailwind 
          li Velocity

        h6 Contact Info

        ul
          li 403.350.4325
          li cassia.nebel@gmail.com


        a.btn-link(href='https://www.linkedin.com/in/cassianebel/') LinkedIn
        a.btn-link(href='https://github.com/cassianebel') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back