extends layout.pug

block content

  article.portfolio-intro

    h1 My Portfolio
 
    p This is my portfolio project for the Full Stack Javascript Techdegree. It is built using Express and Pug templates. It showcases the projects I've built throughout the course so far. 


  article.portfolio-project-thumbs
    .projects-box.box.grid
    
      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`Thumbnail for ${project.project_name}`)
            h5= project.project_name
