body {
  background-color: #2d2e2e;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #2D2E2E;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
}

p {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #2D2E2E;
}

.header span {
  font-family: "Poiret One", sans-serif;
}

.sidebar {
  background-color: #2d2e2e;
}

.sidebar h5 {
  color: #BCABAE;
  font-size: 2rem;
}

.sidebar p {
  color: #bcabae;
}

.sidebar a {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #BCABAE;
  transition: all 0.3s ease;
}

.sidebar a:hover {
  color: #FFF;
  letter-spacing: 2.5px;
}

.portfolio-intro h1 {
  color: #2D2E2E;
}

.projects-box h5 {
  font-family: "Poiret One", sans-serif;
}

nav a {
  width: fit-content;
  display: flex;
  align-items: center;
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #716969;
  transition: all 0.3s ease;
}

nav a:hover {
  letter-spacing: 1px;
}

.btn-link {
  background-color: #716969;
  color: #FFF;
  font-family: "Poiret One", sans-serif;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  background-color: #BCABAE;
  letter-spacing: 3.5px;
  box-shadow: 0px 3px 5px 0px rgba(45,46,46,.9);
}

.cell img {
  box-shadow: 0px 0px 8px 0px rgba(45,46,46,0.5);
  transition: all 0.3s ease;
}

.cell img:hover {
  box-shadow: 0px 0px 4px 0px rgba(45,46,46,0.5);
}

.project-img {
  box-shadow: none;
}